.status-table {
    width: 100%;
    text-align: left;
}

.status-table tr > * {
    padding: .5em 1em;
}

.status-table th {
    border-bottom: solid 1px #555;
}

.status-table tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, .1);
}
